@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic|Roboto+Condensed:400,400italic,700,700italic,300,300italic|Roboto+Mono:400,400italic,500,500italic&subset=latin,greek);
html,
body {
  bakground-color: #fafafa;
  color: #424242;
  font-size: 1.1em;
  line-height: 1.55em;
  height: 100%;
  min-height: 100%;
}
.container {
  height: auto;
  min-height: 100%;
  background-color: #464646;
}
.sidebar {
  background-color: #464646;
  height: 100%;
  min-height: 100%;
}
.content {
  background-color: #fafafa;
}
body {
  font-family: "Roboto";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed";
}
h1 {
  font-weight: bold;
  font-size: 28px;
  margin-top: 4em;
}
h2 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 2em;
}
#body-content a {
  text-decoration: underline;
  text-decoration-color: #c8c8c8;
  color: #626262;
}
#body-content a:hover {
  color: #424242;
  text-decoration-color: #1ebd28;
}
dl {
  margin-top: 2em;
  margin-bottom: 2em;
}
dl dd {
  margin-left: 3em;
  margin-bottom: 1em;
}
#table-of-contents,
#chapters {
  font-family: "Roboto Condensed";
  font-size: 0.6em;
}
#table-of-contents {
  position: fixed;
  bottom: 3em;
}
#chapters {
  position: fixed;
  top: 3em;
}
#body-content {
  padding-top: 5em;
}
.toc-current-doc {
  font-weight: bold !important;
  color: #fafafa !important;
  text-transform: uppercase !important;
}
.nav > li > a {
  padding: 0px 1px;
  color: #c8c8c8;
}
.nav > li > a:hover {
  background: 0;
  color: #fafafa;
}
.nav > li.active > a {
  padding: 0px 1px;
  color: #ebebeb;
  font-weight: bold;
}
.nav > li.active > a:hover {
  background: 0;
  color: #fafafa;
}
.footer {
  padding: 15px 15px;
  color: #848484;
  font-size: 0.7em;
  line-height: 1.0em;
  margin: -15px;
  margin-top: 8em;
  margin-bottom: 0;
  background-color: #d5d5d5;
}
pre {
  border: 0px;
  border-radius: 0px;
  background: 0;
  margin: 0 0;
  padding: 8px;
  margin: -15px;
}
pre.sourceCode,
pre.output {
  font-size: 0.75em;
  line-height: 1.5em;
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: "Roboto Mono", "Consolas", "DejaVu Sans Mono", monospace;
}
pre.sourceCode {
  background-color: #707070;
  color: #fafafa;
}
pre.output {
  background-color: #f4f4f4;
  color: #424242;
  margin-top: -2.1em;
  z-index: 10000;
}
code {
  font-family: "Roboto Mono", "Consolas", "DejaVu Sans Mono", monospace;
  background: 0;
  color: #545454;
  background: #e8e8e8;
  border-radius: 5px;
}
code.sourceCode span.kw {
  color: #b394be;
}
code.sourceCode span.dt {
  color: #a7e2de;
}
code.sourceCode span.dv {
  color: #40a070;
}
code.sourceCode span.bn {
  color: #40a070;
}
code.sourceCode span.fl {
  color: #f79d15;
}
code.sourceCode span.ch {
  color: #4070a0;
}
code.sourceCode span.st {
  color: #1ebd28;
}
code.sourceCode span.co {
  color: #c8c8c8;
}
code.sourceCode span.ot {
  color: #007020;
}
code.sourceCode span.al {
  color: red;
}
code.sourceCode span.fu {
  color: #06287e;
}
code.sourceCode span.er {
  color: #d94029;
}
