@import url(http://fonts.googleapis.com/css?family=PT+Serif+Caption:400,400italic|PT+Serif:400,700,400italic,700italic|PT+Mono);
html,
body {
  bakground: #fcfcfc;
  color: #525252;
  font-size: 1.1em;
  line-height: 1.1em;
}
body {
  font-family: "PT Serif";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Serif Caption";
}
dl {
  margin-top: 2em;
  margin-bottom: 2em;
}
dl dd {
  margin-left: 3em;
  margin-bottom: 1em;
}
#table-of-contents {
  position: fixed;
  top: 2em;
  font-size: 0.9em;
}
pre {
  border: 0px;
  border-left: 4px solid #c8c8c8;
  border-radius: 0px;
  background: 0;
  margin: 0 0;
  padding: 8px;
  margin-left: -17px;
  padding-left: 13px;
}
pre.sourceCode,
pre.output {
  font-size: 0.75em;
  line-height: 1.5em;
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: "PT Mono";
}
pre.output {
  margin-top: -2.1em;
  z-index: 10000;
  border-left: 4px solid #ebebeb;
}
code {
  background: 0;
  color: #6c6c6c;
}
code.sourceCode span.kw {
  color: #916f9d;
}
code.sourceCode span.dt {
  color: #46a7a1;
}
code.sourceCode span.dv {
  color: #40a070;
}
code.sourceCode span.bn {
  color: #40a070;
}
code.sourceCode span.fl {
  color: #d28f6e;
}
code.sourceCode span.ch {
  color: #4070a0;
}
code.sourceCode span.st {
  color: #4c9a51;
}
code.sourceCode span.co {
  color: #848484;
}
code.sourceCode span.ot {
  color: #007020;
}
code.sourceCode span.al {
  color: red;
}
code.sourceCode span.fu {
  color: #06287e;
}
code.sourceCode span.er {
  color: #b95b4d;
}
