@import url(http://fonts.googleapis.com/css?family=PT+Serif+Caption:400,400italic|PT+Serif:400,700,400italic,700italic|PT+Mono);
html,
body {
  bakground: #fcfcfc;
  color: #525252;
}
p {
  font-size: 1.4em;
  line-height: 1.4em;
}
body {
  font-family: "PT Serif";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Serif Caption";
}
pre {
  border: 0px;
  border-radius: 0px;
  background: 0;
  margin: 0 0;
}
pre.sourceCode,
pre.output {
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: "PT Mono";
  padding: 0.5em 0.5em;
  background: #f8f8f8;
}
pre.output {
  margin-top: -2.1em;
  background: #fafafa;
}
code.sourceCode span.kw {
  color: #916f9d;
}
code.sourceCode span.dt {
  color: #46a7a1;
}
code.sourceCode span.dv {
  color: #40a070;
}
code.sourceCode span.bn {
  color: #40a070;
}
code.sourceCode span.fl {
  color: #d28f6e;
}
code.sourceCode span.ch {
  color: #4070a0;
}
code.sourceCode span.st {
  color: #4c9a51;
}
code.sourceCode span.co {
  color: #848484;
}
code.sourceCode span.ot {
  color: #007020;
}
code.sourceCode span.al {
  color: red;
}
code.sourceCode span.fu {
  color: #06287e;
}
code.sourceCode span.er {
  color: #b95b4d;
}
