@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700|Open+Sans:400,400italic,600,600italic&subset=latin,greek);

@caption: "Open Sans Condensed";
@serif: "Open Sans";
@mono: Hack, monospace;

@bg: #fdfdfd;
@fg: #323232;

// Base colors
@red:    rgb(166, 77, 77);
@orange: rgb(209, 134, 60);
@green:  rgb(83, 150, 82);
@blue:   rgb(78, 121, 166);
@cyan:   rgb(88, 168, 163);
@purple: rgb(133, 81, 138);

@very-light-gray: #ebebeb;
@light-gray:      #c8c8c8;
@dark-gray:       #848484;
@very-dark-gray:  #626262;

// General

b, strong {
  font-weight: 700;
}

html, body {
  //bakground-color: @bg;
  color: @fg;
  font-size: 1.1em;
  line-height: 1.55em;
  height: 100%;
  min-height: 100%;
}

body {
  background: url("../bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  height: auto;
  min-height: 100%;
  background-color: fadeout(@very-light-gray, 5%);
}

.sidebar {
//  background-color: mix(@fg, @bg, 98%);
  height: 100%;
  min-height: 100%;
}

.content {
  background-color: @bg;
}

// Fonts

body {
  font-family: @serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @caption;
}

h1 {
  font-weight: bold;
  font-size: 28px;
  margin-top: 4em;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 2em;
}

// Tables
// TODO style tables

// Links
#body-content {
  a {
    text-decoration: underline;
    text-decoration-color: @light-gray;
    color: @very-dark-gray;
    &:hover {
      color: @fg;
      text-decoration-color: @green;
    }
  }
}

// Definition lists

dl {
  margin-top: 2em;
  margin-bottom: 2em;
  dd {
    margin-left: 3em;
    margin-bottom: 1em;
  }
}

// Contents

#table-of-contents, #chapters {
  font-family: @caption;
  font-size: 0.6em;
}

#table-of-contents {
  position: fixed;
  bottom: 3em;
}

#chapters {
  position: fixed;
  top: 3em;
}

#body-content {
  padding-top: 5em;
}

.toc-current-doc {
  font-weight: bold !important;
  color: @fg !important;
  text-transform: uppercase !important;
}

.nav > li > a {
  padding: 0px 1px;
  color: @dark-gray;
  &:hover {
    background: 0;
    color: @fg;
  }
}

.nav > li.active > a {
  padding: 0px 1px;
  color: @very-dark-gray;
  font-weight: bold;
  &:hover {
    background: 0;
    color: @fg;
  }
}

// Footer

.footer {
  padding: 15px 15px;
  color: @dark-gray;
  font-size: 0.7em;
  line-height: 1.0em;
  margin: -15px;
  margin-top: 8em;
  margin-bottom: 0;
  background-color: mix(@bg, @fg, 80%);
}

// Code

pre {
  border: 0px;
  border-radius: 0px;
  background: 0;
  margin: 0 0;
  padding: 15px;
  margin: -15px;
  &.sourceCode, &.output {
    font-size: 0.75em;
    line-height: 1.5em;
    margin-top: 2em;
    margin-bottom: 2em;
    font-family: @mono;
  }
  &.sourceCode {
    background-color: mix(@bg, @fg, 1%);
    color: @bg;
  }
  &.output {
    background-color: mix(@bg, @fg, 98%);
    color: @fg;
    margin-top: -2.1em;
    z-index: 10000;
  }
}

code {
  font-family: @mono;
  background: 0;
  color: lighten(@fg, 7%);
  background: darken(@bg, 7%);
  border-radius: 5px;
}

// Syntax highlighting

code.sourceCode span.kw { color: @purple; }
code.sourceCode span.dt { color: @cyan; }
code.sourceCode span.dv { color: @cyan; }
code.sourceCode span.bn { color: @cyan; }
code.sourceCode span.fl { color: @orange; }
code.sourceCode span.ch { color: @blue; }
code.sourceCode span.st { color: @green; }
code.sourceCode span.co { color: @light-gray; }
code.sourceCode span.ot { color: @green; }
code.sourceCode span.al { color: @red; }
code.sourceCode span.fu { color: @blue; }
code.sourceCode span.re { }
code.sourceCode span.er { color: @red; }
