@import url(http://fonts.googleapis.com/css?family=Gentium+Basic:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Cousine:400,400italic,700,700italic);
html,
body {
  bakground-color: #fcfcfc;
  color: #525252;
  font-size: 1.1em;
  line-height: 1.35em;
}
body {
  font-family: "Gentium Basic";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gentium Book Basic";
}
#body-content a {
  text-decoration: underline;
  text-decoration-color: #c8c8c8;
  color: #626262;
}
#body-content a:hover {
  color: #525252;
  text-decoration-color: #4c9a51;
}
dl {
  margin-top: 2em;
  margin-bottom: 2em;
}
dl dd {
  margin-left: 3em;
  margin-bottom: 1em;
}
#table-of-contents {
  font-family: "Gentium Book Basic";
  position: fixed;
  bottom: 2em;
  font-size: 0.7em;
  z-index: 1000;
}
#body-content {
  padding-top: 5em;
}
.toc-current-doc {
  font-weight: bold !important;
  color: #525252 !important;
  text-transform: uppercase !important;
}
.nav > li > a {
  padding: 3px 1px;
  color: #848484;
}
.nav > li > a:hover {
  background: 0;
  color: #525252;
}
.nav > li.active > a {
  padding: 3px 1px;
  color: #626262;
}
.nav > li.active > a:hover {
  background: 0;
  color: #525252;
}
#topbar {
  min-width: 47.65px;
  position: fixed;
  min-width: 100%;
}
#topbar .container-fluid {
  background-color: #626262;
  border-bottom: 1px solid #ebebeb;
  z-index: 1000;
}
#topbar ul {
  padding: 0 0;
  margin: 2px 1em;
}
#topbar ul,
#topbar li {
  list-style: none;
}
#topbar li {
  display: inline-block;
  padding: 8px 8px;
}
#topbar li a {
  font-family: "Gentium Book Basic";
  font-weight: bold;
  font-variant: small-caps;
  text-transform: lowercase;
  font-size: 80%;
  color: #ebebeb;
}
pre {
  border: 0px;
  border-left: 4px solid #c8c8c8;
  border-radius: 0px;
  background: 0;
  margin: 0 0;
  padding: 8px;
  margin-left: -17px;
  padding-left: 13px;
}
pre.sourceCode,
pre.output {
  font-size: 0.75em;
  line-height: 1.5em;
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: "Cousine", "Consolas", "DejaVu Sans Mono", monospace;
}
pre.output {
  margin-top: -2.1em;
  z-index: 10000;
  border-left: 4px solid #ebebeb;
}
code {
  font-family: "Cousine", "Consolas", "DejaVu Sans Mono", monospace;
  background: 0;
  color: #646464;
  background: #eaeaea;
  border-radius: 5px;
}
code.sourceCode span.kw {
  color: #916f9d;
}
code.sourceCode span.dt {
  color: #46a7a1;
}
code.sourceCode span.dv {
  color: #40a070;
}
code.sourceCode span.bn {
  color: #40a070;
}
code.sourceCode span.fl {
  color: #d28f6e;
}
code.sourceCode span.ch {
  color: #4070a0;
}
code.sourceCode span.st {
  color: #4c9a51;
}
code.sourceCode span.co {
  color: #848484;
}
code.sourceCode span.ot {
  color: #007020;
}
code.sourceCode span.al {
  color: red;
}
code.sourceCode span.fu {
  color: #06287e;
}
code.sourceCode span.er {
  color: #b95b4d;
}
